<tr>                  
    <td>
        <%= obj["Nombre de la vía"] %>
    </td>  
    <td>
        <%= obj["Sector"] %>
    </td>  
    <td>
        <%= obj["Tipo de escalada"] %>
    </td>          
    <td>
        <%= obj["Longitud"] %>
    </td>                 
    <td>
        <%= obj["Largos"] %>
    </td>
</tr>
